%h2 Not an organizer?

.container__30px
  Sign up to be a teaching assistant!

  = link_to 'Sign up', new_teaching_assistant_path, remote: true, class: 'button'


%h2.padding-top__15px Organizer login
.container__30px
  = form_tag sessions_path do
    .field
      = label_tag :name
      = text_field_tag :name
    .field
      = label_tag :password
      = password_field_tag :password

    = submit_tag 'Login'
