<%= form_for @hour, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :course_id, 'Which course?', class: 'col-lg-3 control-label' %>
    <div class="col-lg-9">
      <%= f.select :course_id, @courses, { :include_blank => 'Course' }, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :teaching_assistant_id, 'Which TA?', class: 'col-lg-3 control-label' %>
    <div class="col-lg-9">
      <%= f.select :teaching_assistant_id, @tas, {:include_blank => 'Teaching Assistant'}, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-3">
      <%= f.submit 'save', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
