%h1 TA Sign Ups

%p
  Hello #{@ta['name']}! I hope you're doing well! This is your friendly monthly reminder to sign up to TA for Girl Develop It Chicago classes.

%p
  Additional course information is below, and can also be found on your private sign up page.

%p.center
  %a.button{href: "http://#{BASE_URL}/teaching_assistants/#{@ta['private_id']}"}
    View private sign up page
  %br
  %br
  %span.small
    Or copy this link into your browser:
    %br
    %a{href: "http://#{BASE_URL}/teaching_assistants/#{@ta['private_id']}"}
      http://#{BASE_URL}/teaching_assistants/#{@ta['private_id']}

%h2 Upcoming Courses

%p For additional information about the course, click the course name. You will be taken to the Meetup page.

- @courses.each do |course|
  %p
    %h4= link_to course['name'], course['url']
    = course['date']
    at
    = course['location']

%h2 Sign up

%p.center
  %a.button{href: "http://#{BASE_URL}/teaching_assistants/#{@ta['private_id']}"}
    View private sign up page
  %br
  %span.small
    Or copy this link into your browser:
    %br
    %br
    %a{href: "http://#{BASE_URL}/teaching_assistants/#{@ta['private_id']}"}
      http://#{BASE_URL}/teaching_assistants/#{@ta['private_id']}

#footer.small
  %p
    %b This email was sent because you signed up with <a href="http://#{BASE_URL}">#{CHAPTER_NAME}</a> as a volunteer TA.
    To remove yourself from the list, visit your private sign up page and mark yourself as inactive.
