<h1><strong>Hello, <%= @ta['name'] %>!</strong></h1>

<p>
  We hope you're doing well! This is your friendly reminder to sign up to TA for upcoming Girl Develop It Chicago courses.
</p>

<p>
  Additional course information is below, and can also be found on your private sign up page.
</p>

<h3>Upcoming Courses</h3>

<p>
  For additional information about the course, click the course name to go to its Meetup page.
</p>

<% @courses.each do |course| %>
  <p>
    <h4><%= link_to course['name'], course['url'] %></h4>
    <%= course['date'] %> at <%= course['location'] %>
  </p>
<% end %>

<h3>Sign Up</h3>

<p>
  <%= link_to("View private sign up page", "http://#{BASE_URL}/teaching_assistants/#{@ta['private_id']}") %>
</p>

<p>
  Or copy this link into your browser:
</p>

<p>
  <%= "http://#{BASE_URL}/teaching_assistants/#{@ta['private_id']}" %>
</p>

<p>
  This email was sent to you because you signed up with <%= link_to CHAPTER_NAME, BASE_URL %> as a volunteer TA. To remove yourself from this list, visit your private sign up page and mark yourself as inactive.
</p>
