<h1>Hello, <%= @ta['name'] %>!</h1>

<hr />

<div>
  Thanks for signing up to volunteer as a TA with Girl Develop It Chicago! Your application has been approved, and you are now able to sign up to volunteer for classes.
</div>

<div>
  Please note that all students, volunteers, and staff are required to abide by the <a href="http://girldevelopit.com/codeofconduct">Girl Develop It Code of Conduct</a>. Report any violations or issues to your chapter leaders.
</div>

<h2>Signing Up for Courses</h2>

<div>
  No need to login! Bookmark your private sign up page below, which you can visit at any time to sign up as a teaching assistant for available <%= CHAPTER_NAME %> courses. Your private sign up page also contains your upcoming TA schedule and past TAing history.
</div>

<div class="content-center">
  <%= link_to("View private sign up page", "http://#{BASE_URL}/teaching_assistants/#{@ta['private_id']}", class: "button") %>
</div>

<div class="content-center">
  Or copy this link into your browser: <%= "http://#{BASE_URL}/teaching_assistants/#{@ta['private_id']}" %>
</div>

<div>
  We will send an automated email to you when we post new courses on TAMS, which will be about once a month. Once you've signed up as a TA for a course, we will email you directly on week prior with the course curriculum and day-of details. No other emails, we promise.
</div>

<%= render partial: 'email_footer', locals: { image_url: attachments['logo.png'].url } %>
