- if notice
  %p#notice= notice

- if TeachingAssistant.prospective.any?
  %h2#prospective_tas_header.padding-top__15px
    %a{:href => "#"}
      %span#prospective_tas_icon
        = icon_toggle_right
      Prospective TAs

  #prospective_tas
    .container__30px
      %p Approving an application will email the TA.
    .card
      - TeachingAssistant.prospective.each do |ta|
        = link_to icon_thumbs_up + ' Upgrade to Pending', { controller: :emails, action: :welcome, emails: { teaching_assistant: ta } }, class: 'padding-right__10px'
        %b= ta.name

%h2#monthly_emails_header.padding-top__15px
  %a{:href => "#"}
    %span#monthly_emails_icon
      = icon_toggle_right
    Monthly course emails

#monthly_emails
  .card
    %p
      This will email all Teaching Assistants! Use with caution.

    = button_to 'Send monthly sign up email', { controller: :emails, action: :monthly }, method: :get
