%h1
  Hello!
%p
  A new teaching assistant has registered with the system. Please login to review their application.

%p.center
  %a.button{href: "http://#{BASE_URL}/dashboard"} #{CHAPTER_NAME} Admin Dashboard

%h3 TA: #{@ta['name']}
%p
  %strong Email:
  = @ta['email']

%h4 Tell us about yourself.

%p= @about

%h4 How did you hear about us?

%p= @how

%h4 Why do you want to get involved?

%p= @why
