<h1>Hello!</h1>
<p>
  A new teaching assistant has registered with the system. Please login to approve their application.
</p>

<h3>Teaching Assistant</h3>
<p>
  <%= @ta['name'] %>
</p>

<h3>Email Address</h3>
<p>
  <%= @ta['email'] %>
</p>

<h3>Tell us about yourself.</h3>
<p>
  <%= @about %>
</p>

<h3>How did you hear about us?</h3>
<p>
  <%= @how %>
</p>

<h3>Why do you want to get involved?</h3>
<p>
  <%= @why %>
</p>
