<h1>Hello!</h1>
<div>
  A new teaching assistant has registered with the system. Please login to approve their application.
</div>

<h2>Teaching Assistant</h2>
<div>
  <%= @ta['name'] %>
</div>

<h2>Email Address</h2>
<div>
  <%= @ta['email'] %>
</div>

<h2>Tell us about yourself.</h2>
<div>
  <%= @about %>
</div>

<h2>How did you hear about us?</h2>
<div>
  <%= @how %>
</div>

<h2>Why do you want to get involved?</h2>
<div>
  <%= @why %>
</div>
