<h1>Hello!</h1>

<p>
  A new teaching assistant has registered with the system. Please login to approve their application.
</p>

<h3>TA: <%= @ta['name'] %></h3>

<p>
  <strong>Email:</strong> <%= @ta['email'] %>
</p>

<h4>Tell us about yourself.</h4>

<p>
  <%= @about %>
</p>

<h4>How did you hear about us?</h4>

<p>
  <%= @how %>
</p>

<h4>Why do you want to get involved?</h4>

<p>
  <%= @why %>
</p>
