<%= form_for @course do |f| %>
  <div class="input-field col s12">
    <%= f.label :name, 'Course name' %>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="input-field col s12">
    <%= f.label :date %>
    <%= f.text_field :date, class: 'datepicker', required: true %>
  </div>

  <div class="input-field col s12">
    <%= f.label :start_time %>
    <%= f.time_field :start_time, required: true %>
  </div>

  <div class="input-field col s12">
    <%= f.label :end_time %>
    <%= f.time_field :end_time, required: true %>
  </div>

  <div class="input-field col s12">
    <%= f.label :url, 'Meetup URL' %>
    <%= f.text_field :url, required: true %>
  </div>

  <div class="input-field col s12">
    <%= f.label :location %>
    <%= f.text_field :location, required: true %>
  </div>

  <div class="input-field col s12">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'materialize-textarea', required: true %>
  </div>

  <div class="input-field col s12">
    <%= f.label :credit_hours, 'Number of credit hours TAs will receive' %>
    <%= f.number_field :credit_hours, required: true %>
  </div>

  <div class="input-field col s12">
    <%= f.label :num_tas_neeed, 'Number of TAs needed' %>
    <%= f.number_field :num_tas_needed, required: true %>
  </div>

  <div class="col s12">
    <%= f.submit 'save', class: 'waves-effect waves-light btn cyan darken-4 flow-text' %>
    <%= f.button 'cancel', type: :reset, class: 'waves-effect waves-light btn grey flow-text' %>
  </div>
<% end %>
