<div class="panel panel-success">
  <div class="panel-heading">
    <h3>
      <% if course.is_series? %>
        <%= icon_code %>
      <% end %>

      <%= course.name %>
    </h3>
  </div>

  <div class="panel-body">
    <div class="col-sm-6">
      <div>
        <h4><%= course.pretty_date %></h4>
      </div>

      <div>
        <%= course.location %>
      </div>

      <div>
        <%= course.pretty_time %>
      </div>

      <div>
        <%= link_to icon_meetup, course.url, class: 'btn btn-primary btn-sm' %>
        <%= link_to icon_edit, edit_course_path(course), class: 'btn btn-primary btn-sm' %>
        <%= link_to icon_trash, { controller: :courses, action: :destroy, id: course }, method: :delete, class: 'btn btn-primary btn-sm' %>
      </div>

    </div>

    <div class="col-sm-6">
      <div>
        <h5>
          TAs: <%= course.num_tas %>
          <% if course.need_tas? && !course.is_past? %>
            <em>(<%= course.num_tas_still_needed %> more needed)</em>
          <% end %>
        </h5>
      </div>

      <div>
        Credit Hours: <%= course.credit_hours %>
      </div>

      <div>
        <%= link_to 'TA list', course_ta_list_path(course), remote: true, class: 'btn btn-primary btn-sm' %>
        <%= link_to 'add TA', new_hour_path, remote: true, class: 'btn btn-primary btn-sm' %>
      </div>

      <div>
        <% if course.can_email? %>
        <%= button_to 'Send confirmation email', { controller: :emails, action: :confirmation }, method: :get,  params: { course_id: course.id } %>
        <% elsif course.missing_emails? %>
        Warning! TAs are missing confirmation emails!
        Email sent, but some TAs are missing emails because they signed up late. Click the button below to email all TAs who haven't yet received a confirmation email.
        <%= button_to 'Re-send emails', { controller: :emails, action: :missing_confirmation }, method: :get,  params: { course_id: course.id } %>
        <% elsif course.is_past? %>
        No email options.
        <% elsif course.email_sent? %>
        Email sent.
        <% else %>
        Can't email yet!
        <% end %>
      </div>
    </div>
  </div>
</div>
