.card
  .column_large
    %h3= course.pretty_date
    %h4
      - if course.is_series?
        %span.color__secondary= icon_code
      = course.name

    %p
      = course.location
      from
      = course.pretty_time

    %h5
      %a{:href => "#{course.url}"}
        View on Meetup
        = icon_link_out

    %h5.padding-bottom__15px
      Credit hours:
      = course.credit_hours

  .column_small
    - if !course.is_past?
      - if teaching_assistant.is_ta_for?(course)
        = button_to 'Change RSVP to No', { controller: :hours, action: :destroy, id: course.hour_for(teaching_assistant) }, method: :delete
      - else
        = button_to "RSVP Yes! I'll be there!", { controller: :hours, action: :create, hour: { course_id: course.id, teaching_assistant_id: teaching_assistant.id } }, method: :post

      %br/

      %h5
        TAs:
        = course.num_tas

      - if course.need_tas? && !course.is_past?
        %h5
          Need
          = course.num_tas_still_needed
          more
    - else
      %h5
        Attended as:
        = @teaching_assistant.signed_up_for(course)

