<div id="ta-list-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">TAs for <%= @course.name %></h4>
      </div>
      <div class="modal-body">
        <% if !@course.teaching_assistants.any? %>
          No TAs have signed up yet!
        <% else %>
          <table class="table table-striped table-hover">
            <thead>
              <td>TA/Student</td>
              <td>Name</td>
              <td>Options</td>
            </thead>
            <tbody>
              <% @course.teaching_assistants.each do |ta| %>
              <tr>
                <td class="col-lg-2">
                  <%= ta.signed_up_for(@course) %>
                </td>
                <td class="col-lg-4">
                  <%= link_to ta.name, teaching_assistant_path(ta.private_id) %>
                </td>
                <td class="col-lg-6">
                  <% if ta.is_ta_for?(@course) %>
                    <%= link_to icon_book + ' Use hours', { controller: :hours, action: :update, id: @course.hour_for(ta), hour: { num: -@course.student_hours } }, method: :put, class: "btn btn-primary btn-xs" %>
                  <% else %>
                    <%= link_to icon_history + ' Make TA', { controller: :hours, action: :update, id: @course.hour_for(ta), hour: { num: @course.credit_hours } }, method: :put, class: "btn btn-primary btn-xs" %>
                  <% end %>
                    <%= link_to icon_ban + ' Remove', { controller: :hours, action: :destroy, id: @course.hour_for(ta) }, method: :delete, class: "btn btn-primary btn-xs" %>
                  <% if ta.missing_email_for?(@course) %>
                    <span class="btn btn-primary btn-xs">Missing Email</span>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
