<td>
  <% if course.is_series? %>
    <%= icon_code %>
  <% end %>

  <%= link_to course.name, course_path(course) %>
</td>

<td>
  <%= course.pretty_date %>
</td>

<% if !course.is_past? %>
  <td>
    <%= course.num_tas_still_needed %>
  </td>

  <td>
    <%= link_to icon_list, course_ta_list_path(course), remote: true, class: 'btn btn-primary btn-sm' %>
    <%= link_to icon_plus, new_hour_path, remote: true, class: 'btn btn-primary btn-sm' %>
    <%= link_to icon_edit, edit_course_path(course), class: 'btn btn-primary btn-sm' %>
    <%= link_to icon_trash, { controller: :courses, action: :destroy, id: course }, method: :delete, class: 'btn btn-primary btn-sm' %>

    <% if course.can_email? %>
      <%= link_to icon_email, confirmation_emails_path(course_id: course.id), class: 'btn btn-primary btn-sm' %>
    <% elsif course.missing_emails? %>
      <%= link_to icon_email, missing_confirmation_emails_path(course_id: course.id), class: 'btn btn-primary btn-sm' %>
    <% end %>
  </td>
<% end %>
