<div class="col-lg-12">
  <h2>Add Course, TA, or Series</h2>
</div>

<div class="col-lg-12">
  <div class="col-lg-8">
    <h4>Provide the full Meetup URL to import all event information.</h4>

    <p>
      <strong>Note:</strong> You will need to manually enter the following information:
    </p>

    <ul>
      <li>
        Number of credit hours received
      </li>
      <li>
        Number of teaching assistants needed
      </li>
      <li>
        <strong>For multi-day classes only:</strong> Select the relevant course series
      </li>
    </ul>

    <h4>Is this a multi-day course?</h4>

    <p>
      After you have added the series, come back to this page and import the course once for each session. Make sure you use the right date for each imported session! TAs sign up for sessions individually.
    </p>

    <p>
      <h4>Quicklinks:</h4>

      <div class="col-lg-12">
        <div class="col-lg-2">
          <%= link_to 'Add a new Series', new_series_path, remote: true, class: 'btn btn-info' %>
        </div>

        <div class="col-lg-2 col-lg-offset-1">
          <%= link_to 'Add a new TA', new_teaching_assistant_path, remote: true, class: 'btn btn-info' %>
        </div>
      </div>
    </p>
  </div>
</div>

<div class="form-horizontal col-lg-8">
  <h4>Import from Meetup</h4>

  <div class="form-group">
    <%= label_tag :url, 'Meetup URL', class: 'col-lg-3 control-label' %>
    <div class="col-lg-9">
      <%= text_field_tag :url, '', id: 'fetch_meetup_url', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-3">
      <%= submit_tag 'Fetch', id: 'fetch_meetup_button', class: 'btn btn-info' %>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <h4>Imported Meetup</h4>
</div>

<div class="col-lg-8">
  <%= render 'form' %>
</div>
