/ #modal
/   .overlay
/   .big-modal
/     %a#close{:href => "#{}"}
/       = icon_x
/     %h3.flush--top.padding-bottom__10px Import a Course from Meetup

%h2#add_new_things_header.padding-top__15px
  %a{:href => "#"}
    %span#add_new_things_icon
    Add Course, TA, or Series

#add_new_things
  .container__30px
    = link_to 'Add a new Series', new_series_path, remote: true, class: 'button'
    = link_to 'Add a new TA', new_teaching_assistant_path, remote: true, class: 'button'

%h3.padding-vertical__15px Import a Course from Meetup

%p Provide the full Meetup URL to import all event information.

%p
  %b Note:
  You will need to manually enter the following information:

%ul.default
  %li Number of credit hours received
  %li Number of teaching assistants needed
  %li
    %b For multi-day classes only:
    select the relevant course series

%h4.padding-vertical__15px Is this a multi-day course?

%p If the course you are importing is part of a multi-day series, add the series first.

%p After you have added the series, come back to this page and import the course once for each session. Make sure you use the right date for each imported session! TAs sign up for sessions individually.

.fetch_meetup
  .card-highlight
    %h4 Import from Meetup

    %p Information will populate in the form below.

    .field
      = label_tag(:url, 'Meetup URL')
      = text_field_tag(:url, '', id: 'fetch_meetup_url')
    .actions
      = submit_tag('Fetch', id: 'fetch_meetup_button')

%h4.padding-vertical__15px Imported Meetup

.loading

= render 'courses/form'
