<div class="col-lg-10 col-lg-offset-1">
  <h2>Add a Course</h2>

  <strong>Note:</strong> You will need to manually enter the following information:
  <ul>
    <li>
      Number of credit hours received
    </li>
    <li>
      Number of teaching assistants needed
    </li>
    <li>
      <strong>For multi-session classes only:</strong> Select the relevant course series
    </li>
  </ul>

  <h4>Is this a multi-session course?</h4>

  After you have added the series, import the course once for each session. Make sure you use the right date for each imported session! TAs sign up for sessions individually.

  <div>
    <%= link_to 'add a series', new_series_path, remote: true, class: 'btn btn-primary' %>
  </div>

  <div class="form-horizontal">
    <h4>Import from Meetup</h4>

    <div class="form-group">
      <%= label_tag :url, 'Meetup URL', class: 'col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= text_field_tag :url, '', id: 'fetch_meetup_url', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-3">
        <%= submit_tag 'fetch', id: 'fetch_meetup_button', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <h4>Imported Meetup</h4>

  <%= render 'form' %>
</div>
