<div>
  <h1>
    <% if @course.is_series? %>
      <%= icon_code %>
    <% end %>

    <%= @course.name %>
  </h1>
</div>

<div class="col-lg-3">
  <h3><%= pluralize(@course.num_tas, 'teaching assistant') %></h3>

  <% if @course.need_tas? && !@course.is_past? %>
    <p><em><%= @course.num_tas_still_needed %> more needed</em></p>
  <% end %>

  <%= link_to icon_meetup, @course.url, class: 'btn btn-primary btn-sm' %>
  <%= link_to 'TA list', course_ta_list_path(@course), remote: true, class: 'btn btn-primary btn-sm' %>

  <% if is_admin? %>
    <p>Credit Hours: <%= @course.credit_hours %></p>

    <%= link_to 'add TA', new_hour_path, remote: true, class: 'btn btn-primary btn-sm' %>
    <%= link_to icon_edit, edit_course_path(@course), class: 'btn btn-primary btn-sm' %>
    <%= link_to icon_trash, { controller: :courses, action: :destroy, id: @course }, method: :delete, class: 'btn btn-primary btn-sm' %>

    <% if @course.can_email? %>
      <%= link_to icon_email, confirmation_emails_path(course_id: @course.id), class: 'btn btn-primary btn-sm' %>
      <div class="text-warning">
        Confirmation email is ready to be sent!
      </div>
    <% elsif @course.missing_emails? %>
      <%= link_to icon_email, missing_confirmation_emails_path(course_id: @course.id), class: 'btn btn-primary btn-sm' %>
      <div class="text-warning">
        More TAs have signed up since confirmation email was sent. Please re-send!
      </div>
    <% end %>
  <% end %>
</div>

<div class="col-lg-8">
  <h2><%= @course.pretty_date %></h2>
  <h4><%= @course.location %></h4>
  <h5><%= @course.pretty_time %></h5>
  <%= raw(@course.description) %>
</div>
