<%= form_for @ta do |f| %>
  <div class="input-field col s12">
    <%= f.label :name, 'First & Last Name' %>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="input-field col s12">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div class="input-field col s12">
    <%= label_tag :how, 'How did you find us?' %>
    <%= text_field_tag :how, nil, required: true %>
  </div>

  <div class="input-field col s12">
    <%= label_tag :about, 'Tell us a little about yourself. Keep it short and simple!' %>
    <%= text_area_tag :about, nil, class: 'materialize-textarea', required: true %>
  </div>

  <div class="input-field col s12">
    <%= label_tag :why, 'Why are you looking to get involved with GDI Chicago?' %>
    <%= text_area_tag :why, nil, class: 'materialize-textarea', required: true %>
  </div>

  <%= f.submit 'submit', class: 'waves-effect waves-light btn cyan darken-4 flow-text' %>
<% end %>
