%h2 Teaching Assistants

%p To view hour balances and history, view the individual TA.

%ul.container
  - @teaching_assistants.each do |teaching_assistant|
    %li.block
      .card
        %span.padding-right__10px{class: teaching_assistant.status.label}
          - if teaching_assistant.approved?
            = icon_check
          - elsif teaching_assistant.pending?
            = icon_x
          - else
            = icon_ban
        = teaching_assistant.name
        = link_to icon_link_out + ' Profile', teaching_assistant_path(teaching_assistant.private_id)
        - if teaching_assistant.approved?
          = link_to icon_thumbs_down + ' Down', { controller: :teaching_assistants, action: :update, private_id: teaching_assistant.private_id, teaching_assistant: { status_id: @pending.id } }, method: :put
        - elsif teaching_assistant.prospective?
          = link_to icon_thumbs_up + ' Up', { controller: :teaching_assistants, action: :update, private_id: teaching_assistant.private_id, teaching_assistant: { status_id: @pending.id } }, method: :put
        - else
          = link_to icon_thumbs_up + ' Up', { controller: :teaching_assistants, action: :update, private_id: teaching_assistant.private_id, teaching_assistant: { status_id: @approved.id } }, method: :put
        = link_to icon_ban + ' Ban', { controller: :teaching_assistants, action: :update, private_id: teaching_assistant.private_id, teaching_assistant: { status_id: @banned.id } }, method: :put
        %br
        = teaching_assistant.email
