<h2>Teaching Assistants</h2>

<p>
  To view hour balances and history, view the individual TA.
</p>

<% @tas.each do |ta| %>
  <div class="col-lg-4 col-md-6">
    <% if ta.approved? %>
      <% panel_class = 'panel-primary' %>
    <% elsif ta.pending? || ta.prospective? %>
      <% panel_class = 'panel-warning' %>
    <% else %>
      <% panel_class = 'panel-danger' %>
    <% end %>

    <div class="panel <%= panel_class %>">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= link_to ta.name, teaching_assistant_path(ta.private_id) %>
        </h3>
      </div>
      <div class="panel-body">
        <div>
          <strong>Email:</strong> <%= ta.email %>
        </div>

        <div>
          <strong>Status:</strong> <%= ta.status.label %>
        </div>

        <div>
          <% if ta.prospective? %>
            <%= link_to icon_thumbs_up, { controller: :teaching_assistants, action: :update, private_id: ta.private_id, teaching_assistant: { status_id: @pending.id } }, method: :put, class: 'text-primary' %>
          <% elsif ta.pending? %>
            <%= link_to icon_thumbs_up, { controller: :teaching_assistants, action: :update, private_id: ta.private_id, teaching_assistant: { status_id: @approved.id } }, method: :put, class: 'text-primary' %>
            <%= link_to icon_thumbs_down, { controller: :teaching_assistants, action: :update, private_id: ta.private_id, teaching_assistant: { status_id: @banned.id } }, method: :put, class: 'text-primary' %>
          <% elsif ta.approved? %>
            <%= link_to icon_thumbs_down, { controller: :teaching_assistants, action: :update, private_id: ta.private_id, teaching_assistant: { status_id: @pending.id } }, method: :put, class: 'text-primary' %>
          <% else %>
            <%= link_to icon_thumbs_up, { controller: :teaching_assistants, action: :update, private_id: ta.private_id, teaching_assistant: { status_id: @approved.id } }, method: :put, class: 'text-primary' %>
          <% end %>

          <%= link_to icon_ban, { controller: :teaching_assistants, action: :update, private_id: ta.private_id, teaching_assistant: { status_id: @banned.id } }, method: :put, class: 'text-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
