<div class="row">
  <h3 class="red-text text-lighten-2">Hello, <%= @ta.name %>!</h3>

  <% if @ta.banned? %>
    <h5>You are not eligible to TA for <%= CHAPTER_NAME %> at this time.</h5>
  <% else %>
    <h5>You're signed up to TA for <span class="teal-text"><%= pluralize(@ta.schedule.length, 'course') %></span>. We need TAs for <span class="teal-text"><%= pluralize(@courses.count, 'course') %></span>.</h5>

    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <span class="teal-text"><%= icon_calendar %></span>Schedule
        </div>
        <div class="collapsible-body">
          <% if @ta.schedule.any? %>
            <table class="table highlight centered">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Date</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <% @ta.schedule.each do |course| %>
                  <tr>
                    <%= render partial: 'courses/ta_view', locals: { course: course, teaching_assistant: @ta } %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            Looks like you're not signed up for anything right now!
          <% end %>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <span class="teal-text"><%= icon_terminal %></span>Upcoming Courses
        </div>
        <div class="collapsible-body">
          <% if @courses.any? %>
            <table class="table highlight centered">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Date</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <% @courses.each do |course| %>
                  <tr>
                    <%= render partial: 'courses/ta_view', locals: { course: course, teaching_assistant: @ta } %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            There aren't any upcoming courses to sign up for right now (or you've signed up for them all). Check back later!
          <% end %>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <span class="teal-text"><%= icon_clock %></span>History
        </div>
        <div class="collapsible-body">
          <% if @ta.history.empty? %>
            You haven't TA'd for any courses yet.
          <% else %>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <% @ta.history.each do |hour| %>
                  <tr>
                    <%= render partial: 'courses/ta_view', locals: { course: hour.course, teaching_assistant: @ta } %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <span class="teal-text"><%= icon_cog %></span>Account Settings
        </div>
        <div class="collapsible-body">
          <%= form_for @ta, url: teaching_assistant_path(@ta.private_id), html: { class: 'form-horizontal' } do |f| %>
            <div class="form-group">
              <%= f.label :name, class: 'col-lg-1 control-label' %>
              <div class="col-lg-4">
                <%= f.text_field :name, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :email, class: 'col-lg-1 control-label' %>
              <div class="col-lg-4">
                <%= f.email_field :email, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-1">
                <%= f.submit 'submit', class: 'btn btn-primary', required: true %>
                <%= f.button 'cancel', type: :reset, class: 'btn btn-warning' %>
              </div>
            </div>
          <% end %>

          <div class="col-lg-12">
            <% if @ta.inactive? %>
              <h3 class="text-primary">Re-activate My Account</h3>
              Maybe we're being presumptuous, but welcome back!
              <br /><br />
              <%= button_to 're-activate', { controller: :teaching_assistants, action: :update, id: @ta, teaching_assistant: { status_id: @pending.id } }, method: :put, class: 'btn btn-primary' %>
            <% else %>
              <h3 class="text-primary">Deactivate My Account</h3>
              <strong>Important Note:</strong> This will mark you as inactive in our system. Your history and contact details will still exist in our TA database, but you will no longer receive emails. You can reactivate your account at any time by visiting this page.
              <br /><br />
              <%= button_to 'deactivate', { controller: :teaching_assistants, action: :update, private_id: @ta.private_id, teaching_assistant: { status_id: @inactive.id } }, method: :put, class: 'btn btn-warning' %>
            <% end %>
          </div>
        </div>
      </li>
    </ul>

    <div class="row">
      <em>This is your secret sign up page. Only you (and the GDI Organizers) have access to this URL. You can sign up to TA new classes above, or change your RSVP for classes you already signed up to TA.</em>
    </div>

    <%= link_to icon_cog + ' Settings', edit_teaching_assistant_path(@ta.private_id), class: 'pull-right' %>
  <% end %>
</div>
