<h2>Hello, <%= @teaching_assistant.name %>!</h2>

<% if @teaching_assistant.banned? %>
  <h5>You are not eligible to TA for <%= CHAPTER_NAME %> at this time.</h5>
<% else %>
  <h3>You're signed up to TA for <span class="text-info"><%= @teaching_assistant.schedule.length %> upcoming classes</span>. We need TAs for <span class="text-info"><%= pluralize(@num_available, 'class') %></span>.</h3>

  <em>This is your secret sign up page. Only you (and the GDI Organizers) have access to this URL. You can sign up to TA new classes below, or change your RSVP for classes you already signed up to TA.</em>

  <div class="col-lg-12">
    <h3>Your Schedule</h3>

    <% if @teaching_assistant.schedule.any? %>
      <%= icon_code %> Indicates a multi-session course.
      <% @teaching_assistant.schedule.each do |course| %>
        <div class="col-lg-10 col-lg-offset-1">
          <%= render partial: 'courses/ta_view', locals: { course: course, teaching_assistant: @teaching_assistant } %>
        </div>
      <% end %>
    <% else %>
      Looks like you're not signed up for anything right now!
    <% end %>
  </div>

  <div class="col-lg-12">
    <h3>Multi-session Courses (Series)</h3>

    <% if @series.any? %>
      <% @series.each do |s| %>
        <% if s.courses.any? %>
          <h4><%= s.name %></h4>
          <%= link_to "RSVP 'Yes' for all courses in this series", { controller: :hours, action: :mass_create, hour: { course_id: s.courses.first.id } }, method: :post %>
          <% s.upcoming_courses_by_date.each do |course| %>
            <div class="col-lg-10 col-lg-offset-1">
              <%= render partial: 'courses/ta_view', locals: { course: course, teaching_assistant: @teaching_assistant } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
    There aren't any multi-session courses to sign up for right now. Check back later!
    <% end %>
  </div>

  <div class="col-lg-12">
    <h3>Single-session Courses</h3>

    <% if @courses.any? %>
      <% @courses.each do |course| %>
        <div class="col-lg-10 col-lg-offset-1">
          <%= render partial: 'courses/ta_view', locals: { course: course, teaching_assistant: @teaching_assistant } %>
        </div>
      <% end %>
    <% else %>
      There aren't any single-session courses to sign up for right now. Check back later!
    <% end %>
  </div>

  <div class="col-lg-12">
    <h3>Your History</h3>

    <% if @teaching_assistant.history.empty? %>
      You haven't TA'd for any courses yet.
    <% else %>
      <% @teaching_assistant.history.each do |hour| %>
        <div class="col-lg-10 col-lg-offset-1">
          <%= render partial: 'courses/ta_view', locals: { course: hour.course, teaching_assistant: @teaching_assistant } %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-lg-12">
    <% if @teaching_assistant.inactive? %>
      <h3>Re-activate My Account</h3>
      Maybe we're being presumptuous, but welcome back!
      <%= button_to 're-activate', { controller: :teaching_assistants, action: :update, id: @teaching_assistant, teaching_assistant: { status_id: @pending.id } }, method: :put, class: 'btn btn-success' %>
    <% else %>
      <h3>Deactivate My Account</h3>
      <strong>Important Note:</strong> This will mark you as inactive in our system. Your history and contact details will still exist in our TA database, but you will no longer receive emails. You can reactivate your account at any time by visiting this page.
      <%= button_to 'deactivate', { controller: :teaching_assistants, action: :update, private_id: @teaching_assistant, teaching_assistant: { status_id: @inactive.id } }, method: :put, class: 'btn btn-success' %>
    <% end %>
  </div>

  <% if is_admin? %>
    <div class="col-lg-12">
      <h4><em><%= @teaching_assistant.name %> has <%= @teaching_assistant.balance %> TA hours.</em></h4>
    </div>
  <% end %>
<% end %>
