<div class="row">
  <h2 class="light">Hello, <%= @ta.name %>!</h2>

  <% if @ta.banned? %>
    <h5 class="red-text text-lighten-2 light">You are not eligible to TA for <%= CHAPTER_NAME %> at this time.</h5>
  <% else %>
    <h5 class="light">You're signed up to TA for <span class="red-text text-lighten-2"><%= pluralize(@ta.schedule.length, 'course') %></span>. We need TAs for <span class="red-text text-lighten-2"><%= pluralize(@courses.count, 'course') %></span>.</h5>

    <div class="row">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <span class="cyan-text text-darken-4"><%= icon_calendar %></span>Schedule
          </div>
          <div class="collapsible-body">
            <%= render partial: 'schedule', locals: { ta: @ta } %>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <span class="cyan-text text-darken-4"><%= icon_terminal %></span>Upcoming Courses
          </div>
          <div class="collapsible-body">
            <%= render partial: 'upcoming_courses', locals: { courses: @courses, ta: @ta } %>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <span class="cyan-text text-darken-4"><%= icon_clock %></span>History
          </div>
          <div class="collapsible-body">
            <%= render partial: 'history', locals: { ta: @ta } %>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <span class="cyan-text text-darken-4"><%= icon_cog %></span>Account Settings
          </div>
          <div class="collapsible-body">
            <%= render partial: 'settings', locals: { ta: @ta } %>
          </div>
        </li>
      </ul>
    </div>

    <div class="row">
      <em>This is your secret sign up page. Only you (and the GDI Organizers) have access to this URL. You can sign up to TA new classes above, or change your RSVP for classes you already signed up to TA.</em>
    </div>
  <% end %>
</div>
