<!DOCTYPE html>
<html>
  <head>
    <title>GDI Chicago TAMS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://use.fontawesome.com/9e05654630.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!-- Materialize CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">GDI Chicago</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="fa fa-bars fa-2x"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="">Teaching Assistants</a></li>
          <li><a href="">Courses</a></li>
          <li><a class="waves-effect waves-light btn cyan darken-4">Login</a></li>
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <li><a href="">Teaching Assistants</a></li>
          <li><a href="">Courses</a></li>
          <li><a class="waves-effect waves-light btn cyan darken-4">Login</a></li>
        </ul>
      </div>
    </nav>
    <br />
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
