<!DOCTYPE html>
<html>
  <head>
    <title>GDI Chicago TAMS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://use.fontawesome.com/9e05654630.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Materialize CSS CDN and JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <% if is_logged_in? %>
          <%= link_to 'GDI Volunteering', admins_dashboard_path, class: 'brand-logo' %>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><%= icon_menu %></a>
          <ul class="right hide-on-med-and-down">
            <li><%= link_to 'Teaching Assistants', teaching_assistants_path %></li>
            <li><%= link_to 'Courses', courses_path %></li>
            <li><%= link_to 'Logout', session_path(session[:current_user_id]), method: :delete, class: "waves-effect waves-light btn cyan darken-4" %></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><%= link_to 'Teaching Assistants', teaching_assistants_path %></li>
            <li><%= link_to 'Courses', courses_path %></li>
            <li><%= link_to 'Logout', session_path(session[:current_user_id]), method: :delete, class: "waves-effect waves-light btn cyan darken-4" %></li>
          </ul>
        <% else %>
          <%= link_to 'GDI Volunteering', root_path, class: 'brand-logo' %>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><%= icon_menu %></a>
          <ul class="right hide-on-med-and-down">
            <li><%= link_to 'Login', new_session_path, class: "waves-effect waves-light btn cyan darken-4" %></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><%= link_to 'Login', new_session_path, class: "waves-effect waves-light btn cyan darken-4" %></li>
          </ul>
        <% end %>
      </div>
    </nav>
    <br />
    <div class="container">
      <% if notice %>
        <div class="alert alert-success animated fade-out">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= notice %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
